.small-text {
  font-size: 0.7em;
}

p {
  vertical-align: -1em;
}

img {
  border-radius: 10em;
  margin: 1em;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* ============ LIGHT THEME ============ */
/*                f0f0f0
                  deded9
                  b3b3a4
                  86877a
                  46473d
                  303127                 */

    
.light {
  background-color: #f0f0f0;
  color: #303127;
  transition: background-color 2s, color 1s;
}

.light a {
  color: #deded9;
  transition: all 1s;
}

.light.section-header {
  color: #303127;
  border-top: 1px solid #303127;
  transition: all 2s
}

.light .btn {
  background-color: #b3b3a4;
  color: #303127;
  border: none;
  transition: all 1s
}

.light .btn:hover {
  background-color: #86877a;
  color: #303127;
  transition: all 1s
}

.light.header {
  background-color: #46473d;
  transition: all 2s
}

.light.header-link {
  color: rgb(240, 240, 233);
  transition: all 1s
}

.light .skills-list p {
  border: 1px solid #303127;
  background-color: white;
  transition: all 1s
}

.light .card {
  background-color: #deded9;
  color: #303127;
  transition: all 1s
}

.light .project-card a {
  color: #303127;
  transition: all 1s
}

.light .project-card .sub-header {
  font-weight: bold;
}

.light img {
  filter: grayscale(80%) hue-rotate(10deg);
  transition: all 1s;
}

/* ============ DARK THEME ============ */
/*                c9c7cf
                  605A73
                  4B4560
                  352F46
                  292243
                  1F163C
                  151120                 */


.dark {
  background-color: #151120;
  color: #c9c7cf;
  transition: background-color 2s, color 1s;
}

.dark a {
  color: white;
  transition: all 1s;
}

.dark.section-header {
  color: white;
  border-top: 1px solid white;
  transition: all 2s;
}

.dark .btn {
  background-color: #948ea4;
  color: white;
  transition: all 1s;
}

.dark .btn:hover {
  background-color: #6d6880;
  transition: all 1s;
}

.dark.header {
  background-color: #605A73;
  transition: all 2s;
}

.dark .header-link {
  color: white;
  transition: all 1s;
}

.dark .card {
  background-color: #312d3e;
  border: 1px solid #c9c7cf;
  color: #c9c7cf;
  transition: all 1s;
}

.dark .skills-list p {
  border: 1px solid #c9c7cf;
  background-color: #2b2837;
  transition: all 1s;
}

.dark .project-card .btn a {
  color: #0f0f14;
  transition: all 1s;
}

.dark .project-card .sub-header {
  color: white;
  transition: all 1s
}

.dark img {
  filter: grayscale(90%) hue-rotate(240deg);
  transition: all 1s;
}

/* ================ LINK + BUTTON STYLING ============== */

.header-link a {
  text-decoration: none;
  display: flex;
  justify-content: end;
  padding: 1em 1em 1em 2em;
  font-size: small;
}

.btn.social {
  width: 2.4em;
  height: 2.4em;
  margin: 0.15em 0.15em;
  padding: 0em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: white !important;
}

.nav-buttons .btn {
  min-width: 6em;
  border: none;
  margin-right: 0.3em;
}

div.nav-buttons {
  display: flex;
  margin: 0.5em 0em;
}

.back-to-top-btn.btn {
  position: fixed;
  bottom: 1em;
  right: 1.5em;
  height: 3em;
  width: 3em;
}

/* ============== SECTION STYLING ============ */

.section-header.row {
  padding-top: 1.5em;
  text-align: center
}

#sun {
  padding-right: 2em;
}

#sun img {
  position: relative;
  z-index: 0;
  filter: drop-shadow(0px 0px 20px #fff);
}

/* ============== PROJECT CARD STYLING ============ */

div.projects.row {
  margin: 1em 0em;
}

.projects .col-12, .col-6, .col-4 {
  margin: 0.5em 0em;
}

.project-card.card {
  margin: 0em;
  padding: 1em 2em 0.5em 2em;
  border-radius: 0.2em;
  border: none;
}

.project-card .row {
  margin-bottom: 2em;
}

.project-card .card-title {
  font-weight: bold;
  font-size: large;
  text-align: center;
  margin: 0em;
}

.project-card a {
  text-decoration: none;
}

.project-card p {
  margin-bottom: 0em;
}

.project-card .sub-header {
  display: inline;
  line-height: 0;
}

.project-card .skills-used {
  display: inline;
  padding-left: 0.5em;
  line-height: 0;
}

.project-card .card-text {
  margin-bottom: 1.5em;
}

.project-card .btn {
  margin-top: auto;
  margin-bottom: 1em;
  width: 100;
}

/* ============== RESUME STYLING ============= */

div.skills-list {
  padding-left: 4em;
}

.skills-list p {
  width: 12em;
  float: left;
  margin: 0.2em 0.4em;
  padding: 0.3em 0.1em;
  border-radius: 0.3em;
  text-align: center;
}

p.big-header {
  font-size: large;
  padding-top: 2em;
  font-weight: bold;
}

p.small-header {
  padding-left: 2em;
  padding-top: 1em;
  text-decoration: underline;
}

p.school-desc {
  padding-left: 3em;
}

p.story-desc {
  text-align: center;
  padding: 2em 2em 4em 2em;
}

/* CHROME EXTENSION STYLING */

.bionicBold {
  font-weight: bold;
}

.bionic {
  display: inline;
  line-height: 0em;
}

.chrome-extension {
  text-align: center;
  height: 400px;
}

.chrome-extension button {
  margin: 0.2em 0.05em;
  width: 4em;
}

.chrome-extension select {
  width: 9em;
}

.sample-text {
  max-height: 341px;
  min-height: 341px;
  overflow-y: auto;
  margin-left: 1em;
}

