.small-text {
  font-size: 0.7em;
}

p {
  vertical-align: -1em;
}

img {
  border-radius: 8em;
  margin: 1em;
}

/* ============ LIGHT THEME ============ */
/*                F1F5CF
                  C5CB94
                  A2A968
                  7F8748
                  677028
                  262622                 */

    
.light {
  background-color: white;
  color: #262622;
}

.light a {
  color: #7F8748;
}

.light.section-header {
  background-color: white;
  color: #262622;
  border: 1px solid #262622;
}

.light .btn {
  background-color: #A2A968;
  border: none;
}

.light .btn:hover {
  background-color: #757e3b;
  color: white;
  border: none;
}

.light.header {
  background-color: #454c18;
}

.light.header-link {
  color: white;
}

.light .skills-list p {
  border: 1px solid #262622;
}

/* ============ DARK THEME ============ */
/*                c9c7cf
                  605A73
                  4B4560
                  352F46
                  292243
                  1F163C
                  151120                 */


.dark {
  background-color: #151120;
  color: #c9c7cf;
}

.dark a {
  color: white;
}

.dark.section-header {
  color: white;
  border: 1px solid white;
}

.dark .btn {
  background-color: #c9c7cf;
  color: #292243;
}

.dark .btn:hover {
  background-color: #7c768f;
  color: white;
}

.dark.header {
  background-color: #605A73;
}

.dark .header-link {
  color: white;
}

.dark .card {
  background-color: #352f4b;
  border: 1px solid #c9c7cf;
  color: #c9c7cf;
}

.dark .skills-list p {
  border: 1px solid #c9c7cf;
}

/* ================ LINK + BUTTON STYLING ============== */

.header-link a {
  text-decoration: none;
  display: flex;
  justify-content: end;
  margin: 1em 1em 1em 2em;
  font-size: small;
}

.btn.social {
  width: 2.4em;
  height: 2.4em;
  margin: 0.15em 0.15em;
  padding: 0em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: white !important;
}

.nav-buttons .btn {
  width: 7em;
  margin: 0.1em 0.1em;
  border: none;
}

/* ============== HEADER STYLING ============ */

.section-header.row {
  padding: 0.5em 0em;
  text-align: center
}

.project-header.row {
  padding: 1em 0em;
  text-align: center;
}

.project-header a {
  text-decoration: none;
  font-size: small;
  margin-left: 0.5em;
}

/* ============== RESUME STYLING ============= */

.skills-list {
  margin-left: 1em;
}

.skills-list p {
  width: 12em;
  float: left;
  margin: 0.2em 0.4em;
  padding: 0.3em 0.1em;
  border-radius: 0.3em;
  text-align: center;
}

.school-header {
  margin: 0em 2em;
  font-weight: bold;
}

.school-desc {
  margin: 0em 0em 2em 3em;
}

p.story-desc {
  width: 50em;
  margin: 0em 1em 3em 3em;
}

/* CHROME EXTENSION STYLING */

.bionicBold {
  font-weight: bold;
}

.bionic {
  display: inline;
  line-height: 0em;
}

.chrome-extension {
  text-align: center;
  height: 400px;
}

.chrome-extension button {
  margin: 0.2em 0.05em;
  width: 4em;
}

.chrome-extension select {
  width: 9em;
}

.sample-text {
  max-height: 341px;
  min-height: 341px;
  overflow-y: auto;
  margin-left: 1em;
}

